body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: antiquewhite;
    box-shadow: 3px 3px 7px black;
  }
  
  .container {
    text-align: center;
    background-color: pink;
    width:200px;
    height:300px;
    border-radius: 10px;
    box-shadow: 3px 3px 7px black;

  }
  
  input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  h1{
    color:black;
  }
  option{
    color:white;
  }
  body:hover{
    box-shadow:  3px 3px 7px black; ;
  }